body{
  text-align: center;
}
.heading{
  background-image: url("../images/backgrounds/h_img.jpg");
  height: 500px;
  width:  100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.welcome{
  font-family: 'Merriweather', serif;
  font-size: 1.4em;
}
.services{
  background-image: url("../images/backgrounds/s_image.jpg");
  height: 300px;
  width: 100%;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}
.about-us{
  font-family: 'Roboto', sans-serif;
}
.contactus{
  background-image: url("../images/backgrounds/c_image.jpg");
  height: 500px;
  width:100%;
  padding: 20px;
}
.social_icons{
  padding: 20px;
}
.by{
  font-family: 'Teko', sans-serif;
}
.footer{
  font-family: 'Lobster', cursive;
  padding: 60px;
}
.clickable:hover {
        text-decoration: underline;
      }
#design, #development, #product{
  display: none;
  font-family: 'Megrim', cursive;
}
#hide1, #hide2, #hide3{
    font-family: 'Anton', sans-serif;
}
input[type="text"]{
  background: transparent;
}
textarea[type="text"]{
  background: transparent;
}
